<div class="BackNavbar">
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/users/new">Sing up</a>
  </li>
  <li class="nav-item">
   <%= link_to "Login",newSessions_path, class:"nav-link" %>
  </li>
  <li class="nav-item"> 
    <a class="nav-link" href="/">home</a>
  </li>
</ul>
</div>